/*
###########################################################
### Project Information                                 ###
### Template:   MC Generic                              ###
### Version:    1.03                                    ###
### Release:    09 July 2012                            ###
### Author:     D3X Solutions - Seth Moon               ###
### URL:        design.d3x.co/demo/mcgeneric            ###
### Copyright:  2012 D3X Solutions                      ###
### License:    GNU GPL 2                               ###
###########################################################
*/

/* UNCOMPRESSED CSS FILE INSIDE EXTRAS FOLDER */

@font-face { font-family: "Minecraft Regular"; src: url("font/minecraft_font.eot?") format("eot"), url("font/minecraft_font.woff") format("woff"), url("font/minecraft_font.ttf") format("truetype"), url("font/minecraft_font.svg#Minecraft") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "MineCrafter 2.0 Regular"; src: url("font/minecrafter_20.eot?") format("eot"), url("font/minecrafter_20.woff") format("woff"), url("font/minecrafter_20.ttf") format("truetype"), url("font/minecrafter_20.svg#MineCrafter-2.0") format("svg"); font-weight: normal; font-style: normal; }
h1, h2, h3, h4, h5, h6 { margin: 0; font-family: Arial Black; font-face: bold; }
/**
 * HTML5 Boilerplate Styles, slightly modified for this template
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio: not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-align: center; background: url(img/bg.png); color: #FFF; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #526E21; color: #FFF; text-shadow: none; }
::-webkit-selection { background: #526E21; color: #FFF; text-shadow: none; }
::selection { background: #526E21; color: #FFF; text-shadow: none; }

a { color: #951A13; }
a:visited { color: #951A13; }
a:hover { color: #C3251D; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; font-family: "Times New Roman", Times, serif; font-style: italic; line-height: 160%; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg: not(: root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
input:focus { outline:none; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; float: left; width: 174px; line-height: 1.5em; background: #8B8B8B; color: #FFF; text-shadow: 2px 2px #3F3F3F; font-family: "Minecraft Regular", Arial; border: 2px solid #555; border-bottom-color: #FFF; border-right: none; padding: 6px; }
input[type="search"]: : -webkit-search-decoration, input[type="search"]: : -webkit-search-cancel-button { -webkit-appearance: none; }
button: : -moz-focus-inner, input: : -moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input: valid, textarea:valid {  }
input: invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
/**
 * General/Core Styles
 * Create or modify Styles below
 */

.container { width: 900px;/*The template is currently built to only handle 900px*/
text-align: left; margin: 0 auto 20px;/*top left/right bottom*/
}
/**
 * Header Styles
 */
header hgroup h1, header hgroup h2 { font-family: "MineCrafter 2.0 Regular"; text-transform: uppercase; text-align: center; }
header hgroup a, header hgroup a:visited, header hgroup a:hover { text-decoration: none; color: #FCF6E8; }
header h1, header h2 { margin: 0; font-weight: 400; color: #FCF6E8; }
header h1 { margin-top: 20px; font-size: 5em; }
header h2 { font-size: 2em; }
header nav li { float: left; }
header nav a, header nav a:visited { display: block; background: url(img/sprite-crafty.png) #AA8C55 no-repeat -890px -274px; border: 2px solid #56472A; -moz-box-shadow: -2px -2px 3px #333; -webkit-box-shadow: -2px -2px 3px #333; box-shadow: -2px -2px 3px #333; color: #000; font-family: Arial Black; text-decoration: none; margin: 8px; padding: 10px 10px 11px; text-transform: capitalize; }
header nav a:hover { color: #FFF; background-position: -890px -319px; }
/**
 * The Sidebar Style
 */
aside[role=complimentary] { float: right; width: 250px; padding-top:8px; }
/**
 * Widget styling.
 * Widgets are the little sections of content in the sidebar.
 * Comon use cases for a sidebar widgets include menus, search boxes, and user forms.
 */
.widget { position:relative; margin-bottom:20px; }
.widget-title { height: 35px; padding-top:10px; margin-bottom:8px; font-size: 1.2em; text-align: center; color: #E0E0E0; text-shadow: 2px 2px #383838; background: url(img/sprite-crafty.png) no-repeat -1299px -274px; font-family: "Minecraft Regular", Arial; font-weight: 400; text-transform: capitalize; }
.widget-content { position:relative; background: url(img/sprite-crafty.png) repeat-y -640px 0; color: #000; padding: 10px; }
.widget-content:before { background: url(img/sprite-crafty.png) no-repeat -1299px -321px; content: " "; display: block; width: 250px; height: 8px; position: absolute; top: -8px; left: 0; }
.widget-content:after { background: url(img/sprite-crafty.png) no-repeat -1299px -329px; content: " "; display: block; width: 250px; height: 8px; position: absolute; bottom: -8px; left: 0; }
.widget ul { list-style:none; margin:0; padding:0; }
.widget ul ul { margin-left:10px; margin-right:10px; margin-top:5px; }
.widget li { border:2px solid #383838; margin-bottom:5px; background:#FFF; }
.widget li a { display:block; padding:5px; background:#8B8B8B; color:#FFF; border:2px solid white; text-decoration:none; }
.widget li a:hover { background:#515151; }
/**
 * News Widget
 */
#news .item-pubdate { text-align:right; font-style:italic; padding:5px; padding-top:2px; color:#333; }
#news li { border:none; }
/**
 * Login Widget
 */
#login { font-family: Arial Black; }
#login label { color:#666; 
}
#login input[type=text],#login input[type=email],#login input[type=password] { margin:0 auto; margin-bottom:5px; background: #8B8B8B; color: #FFF; border: 2px solid #555; border-bottom-color: #FFF; text-shadow: 2px 2px #3F3F3F; font-family: "Minecraft Regular", Arial; padding: 6px; line-height: 1.5em; }
#login input[type=submit] { float:right; border: 2px solid #000; font-family: "Minecraft Regular", Arial; color: #E0E0E0; text-shadow: 2px 2px #383838; text-align: center; text-decoration: none; background: url(img/sprite-crafty.png) no-repeat -892px -42px; padding: 5px 15px 9px; }
#login input[type=submit]:hover { color: #FFFFA0; text-shadow: 2px 2px #3F3F28; cursor: pointer; background-position: -892px -82px; }
#login a { display:inline-block; padding-top:7px; padding-left:20px; }
/**
 * Server Status Widget
 */
#status .widget-content h5, #status .widget-content p { text-align: center; margin: 0; }
#status .widget-content h5 { font-size: 1.5em; }
#status .widget-content h5.online { color: green; }
#status .widget-content h5.offline { color: red; }
#status .widget-content p { font-style: italic; font-size: .8em; }
/**
 * Search Widget
 */
input[type=search] { float: left; width: 174px; line-height: 1.5em; background: #8B8B8B; color: #FFF; text-shadow: 2px 2px #3F3F3F; font-family: "Minecraft Regular", Arial; border: 2px solid #555; border-bottom-color: #FFF; border-right: none; padding: 6px; }
::-webkit-input-placeholder { color: #FFF; }
::-moz-placeholder { color: #FFF; }
input.searchbtn { float: left; width: 38px; height: 40px; border: 2px solid #555; border-left: none; border-bottom-color: #FFF; background: url(img/sprite-crafty.png) no-repeat -1532px -122px; color: transparent; }
input.searchbtn:hover { cursor: pointer; background-position: -1532px -162px; }
.ie input[type=search] {/*IE Support*/
padding: 8px 6px; }
/**
 * Primary Content Area Styles
 * This is where the blog postings or content will be shown.
 */
div[role=main] { margin-right: 260px; padding-top: 26px; }
div[role=main] h1 a, div[role=main] h1 a:visited, div[role=main] h2 a, div[role=main] h2 a:visited, div[role=main] h3 a, div[role=main] h3 a:visited, div[role=main] h4 a, div[role=main] h4 a:visited, div[role=main] h5 a, div[role=main] h5 a:visited, div[role=main] h6 a, div[role=main] h6 a:visited { text-decoration: none; }
div[role=main] h1, div[role=main] h2 { font-family: "MineCrafter 2.0 Regular"; }
div[role=main] h1 { font-size: 3em; text-transform: uppercase; }
div[role=main] h3 { font-size: 1.5em; text-align: center; margin: 20px 0; }
div[role=main] h4 { display: block; margin-bottom: 10px; font-size: 1.25em; border-bottom: 2px solid #951A13; }
/**
 * Article Styles
 * This is the styling for the books you see on the page.
 * :before and :after are used so you don't need to add any extra elements.
 * The padding from the top of the book to the start of the text can not be altered without cutting off the text.
 */
article:before { background: url(img/sprite-crafty.png) no-repeat -890px -120px; content: " "; display: block; width: 640px; height: 66px; position: absolute; top: -26px; left: 0; z-index:2; }
article { background: url(img/sprite-crafty.png) repeat-y; color: #000; margin-bottom: 70px; position: relative; padding: 50px 70px 88px; z-index:1; }
article:after { background: url(img/sprite-crafty.png) no-repeat -890px -186px; content: " "; display: block; width: 640px; height: 88px; position: absolute; bottom: -26px; left: 0; }
div.pages:before { background: url(img/sprite-crafty.png) no-repeat -890px -120px; content: " "; display: block; width: 640px; height: 66px; position: absolute; top: -26px; left: 0; z-index:2; }
div.pages { background: url(img/sprite-crafty.png) repeat-y; color: #000; margin-bottom: 70px; position: relative; padding: 50px 70px 88px; z-index:1; }
div.pages:after { background: url(img/sprite-crafty.png) no-repeat -890px -226px; content: " "; display: block; width: 640px; height: 68px; position: absolute; bottom: -26px; left: 0; }
/**
 * Button Styles
 * Add class="button" to a link or text.
 * Does NOT work for multiline buttons.
 */
.button, .button:visited { display: block; border: 2px solid #000; font-family: "Minecraft Regular", Arial; color: #E0E0E0; text-shadow: 2px 2px #383838; text-align: center; text-decoration: none; background: url(img/sprite-crafty.png) no-repeat -892px -42px; padding: 5px 15px 9px; }
.button:hover { color: #FFFFA0; text-shadow: 2px 2px #3F3F28; cursor: pointer; background-position: -892px -82px; }
/**
 * Table Styles
 */
table { text-align: center; }
tr:nth-child(even) { background: #D3CBB8; }
td { vertical-align: center; padding: 0 10px; }
td.label { text-align: right; }
/**
 * Footer Styles
 */
footer, footer a, footer a:visited, footer a:hover { clear: both; font-style: italic; margin: 10px 0; color: #666; text-decoration: none; }
/**
 * More HTML5 Boilerplate Styles.
 * Do not place any CSS after this
 */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/*IE Support*/
.lt-ie8 header nav a, .lt-ie8 header nav a:visited { background-position: -888px -272px; }
.lt-ie8 header nav a:hover { background-position: -888px -317px; }
.lt-ie8 #complimentary { float: right; width: 250px; padding-top:0; }
.lt-ie8 .widget-title { margin-bottom:0; }
.lt-ie8 .widget-content { background:#C6C6C6; border:2px solid black; }
.lt-ie8 #main { margin-right: 260px; padding-top:0; }
.lt-ie8 #main h1, .lt-ie8 #main h2 { font-family: "MineCrafter 2.0 Regular"; }
.lt-ie8 article { background:#FCF6E4; border:20px solid #74321E; padding: 46px 50px 68px; }
.lt-ie8 .button, .lt-ie8 .button:visited { background-position:-890px -40px; }
.lt-ie8 .button:hover { background-position: -890px -80px; }
.lt-ie8 input.searchbtn:hover { background-position: -1530px -162px; }