﻿  </div><!-- main -->
  <div id="content-after"><!-- Should be empty --></div>
  </div><!-- .container -->
  <footer>
    <p>MhMCR by <a href="http://minehell.ru/mhmcr/">MineHell</a>. Template by <a href="http://d3x.co" target="_blank">D3X Solutions</a> and is licensed under <a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank">GNU GPL 2</a>.</p>
  </footer>
</div><!-- #wrapper -->

<!--[if IE]></div><![endif]-->
  <!--Place your JavaScript down here-->
  <script src="<?=$opts['url-base'];?>template/mhdefault/js/fontloader.js"></script><!-- Load custom online fonts http://goo.gl/Deqf0 -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</body>
</html>