﻿<? include('templates/mhdefault/header.html'); ?>
  <div role="main" id="main">
    <? if ($opts['site-news']) { ?>
	<? foreach ($news as $entry) { ?>
	<article>
      <h4><a href="<?=$opts['url-base'];?>news/<?=$entry['id'];?>"><?=$entry['name'];?></a></h4>
	  <h6><?=$entry['date'];?></h6>
      <?=$entry['content'];?>
	  <p align="right"><a href="<?=$opts['url-base'];?>news/<?=$entry['id'];?>">Читать далее</a></p>
    </article>
	<? } } else { ?>
	<article>
	  <h4><? print $page->getName(); ?></h4>
	  <? print $page->getContent(); ?>
	</article>
	<? } ?>
    <!--article><!-- Example Blog Post Format ->
      <h3 class="article-title"><a href="#">Example Blog Post Title</a></h3>
      <div class="article-content">
        <p>Phasellus tempus nibh a justo accumsan malesuada. Duis molestie nulla id dolor tincidunt quis vestibulum orci lacinia. Vivamus tincidunt justo est, gravida faucibus sapien. Fusce sollicitudin velit fringilla ipsum condimentum non interdum massa mattis. Phasellus in neque quis libero malesuada blandit. Donec tempor arcu nec mauris gravida euismod. Quisque non ullamcorper leo. Curabitur scelerisque hendrerit justo, in sollicitudin augue congue vel. Nulla ullamcorper augue quis libero dignissim et malesuada risus blandit. Pellentesque quis libero est. Nullam tempor tincidunt dolor nec varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam fringilla urna ut mauris semper ut tincidunt urna dignissim. Nulla facilisi.</p>
        <table>
          <thead>
            <tr>
              <th>Ducks</th>
              <th>Chickens</th>
              <th>Birds</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Medium</td>
              <td>Small</td>
              <td>Varies</td>
            </tr>
            <tr>
              <td>Water</td>
              <td>Farm</td>
              <td>Varies</td>
            </tr>
            <tr>
              <td>Quack</td>
              <td>Cluck</td>
              <td>Caw</td>
            </tr>
          </tbody>
        </table>
        <p>Maecenas non purus odio, et posuere eros. Etiam ultrices fringilla iaculis. Sed ut urna risus, non vehicula massa. Praesent tempor felis in lorem rhoncus in vestibulum metus pellentesque. Praesent non dolor orci, a feugiat magna. Suspendisse dapibus tincidunt adipiscing. Ut facilisis, turpis vel ultricies auctor, est risus volutpat risus, non tristique justo nunc at nisi. Proin et sem nisi, ullamcorper molestie orci. Praesent erat sem, pulvinar non tempus eget, iaculis ut est. Quisque tempus laoreet ultricies.</p>
      </div>
    </article-->
	<font color="white">
	  Страницы:
	  <? for ($i=1; $i<=$pages; $i++) { ?><a href="<?=$opts['url-base'];?>?page=<?=$i;?>"><?=$i;?></a> <? } ?>
	</font>
<? include('templates/mhdefault/footer.html'); ?>