<? include('templates/mhdefault/header.html'); ?>  <div role="main" id="main">	<article>	  <h4><?=$newsentry->getName();?></h4>	  <h6><?=$newsentry->getDate();?></h6>	  <?=$newsentry->getContent();?>	</article><? include('templates/mhdefault/footer.html'); ?>