<? include('templates/mhdefault/header.html'); ?>  <div role="main" id="main">	<article>	  <h4><?=$spage->getName();?></h4>	  <?=$spage->getContent();?>	</article><? include('templates/mhdefault/footer.html'); ?>