﻿<? include('templates/mhdefault/header.html'); ?>
  <div role="main" id="main">
	<article>
	  <h4>Регистрация</h4>
	  <table width="100%">
	    <tr><td>Логин*:</td><td><input type="text" name="login" value="" required></td></tr>
		<tr><td>Email:</td><td><input type="email" name="email" value=""></td></tr>
		<tr><td>Пароль*:</td><td><input type="password" name="pass" value="" required></td></tr>
		<tr><td>Еще раз*:</td><td><input type="password" name="pass2" value="" required></td></tr>
		<? if ($opts['invites']) { ?><tr><td>Код приглашения:</td><td><input type="password" name="pass2" value=""></td></tr><? } ?>
		<tr><td><img src="<?=$opts['url-base']?>captcha.php" id="captcha" onclick="document.getElementById('captcha').src='<?=$opts['url-base']?>captcha.php?rnd='+Math.random();"></td><td><small>Введите код подтверждения:</small><br><input type="text" name="captcha" value="" required size="5"><br><small>Для обновления кода нажмите на картинку.</small></td></tr>
		<tr><td></td><td><input type="submit" value="Зарегистрироваться"></td></tr>
	  </table>
	</article>
<? include('templates/mhdefault/footer.html'); ?>