﻿                <!-- // #main -->
                
                <div class="clear"></div>
            </div>
            <!-- // #container -->
        </div>	
        <!-- // #containerHolder -->
        
        <p id="footer">by wefuo, <a href="http://minehell.ru/" target="_blank">MineHell.ru</a> developer.<br>
		Разработка движков на заказ (PHP), ICQ 21370208.</p>
    </div>
    <!-- // #wrapper -->
</body>
</html>
